{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-flow"
    ],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        },
        "production": {
            "plugins": [
                "@babel/plugin-transform-modules-umd",
                ["add-module-exports", {
                    "addDefaultProperty": true
                }]
            ]
        }
    }
}
