{
    "presets": ["env", "flow"],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        },
        "production": {
            "plugins": ["transform-es2015-modules-umd"]
        }
    }
}
